<!-- (.row.my-5>(.col-md-6.my-4>h1{List of categories})+(.col-md-6>button.btn.btn-success.btn-sm{Add}))+(.row.my-4>.col-md-6.mx-auto>ul.list-group>li.list-group-item*3)  -->

<div class="row my-5">
  <div class="col-md-6 my-4">
    <h2>List of categories</h2>
  </div>
  <div class="col-md-6 text-end"><button class="btn btn-success btn-sm">Add</button></div>
</div>

<div class="row my-4">
  <div class="col-md-6 mx-auto">

    <input #categoryLabel [value]="label()" (input)="label.set(categoryLabel.value)" (keyup.enter)="createOrUpdate()" type="text" class="form-control my-3" placeholder="Add a category">

    <ul class="list-group">
      <li *ngFor="let category of categories()" class="list-group-item">
        <div class="row">
          <div class="col mt-2">{{ category.label }}</div>
          <div class="col text-end">
            <button class="btn btn-sm btn-warning me-1" (click)="edit(category)">Edit</button>
            <button *ngIf="category.id" class="btn btn-sm btn-danger" (click)="delete(category.id)">Delete</button>
          </div>
        </div>
        </li>
    </ul>
  </div>
</div>
