<!-- <h1>{{ title() }}</h1>

<div>
  <h3>Vote : {{ vote() }}</h3>

  <button (click)="like()">Like</button>
  <button (click)="dislike()">Dislike</button>
  <hr>
  <h4>Actions:</h4>

  <p>length of actions : {{ doubleLengthOfActions() }}</p>
  <p>total of actions : {{ actions().length }}</p>
  <p>{{ actions() }}</p>
</div> -->

<div class="container mt-4">

  <app-categories></app-categories>

  <!-- <app-members-list></app-members-list> -->

  <!-- <app-list-courses></app-list-courses>  -->
</div>
