
<div class="row my-5">
  <div class="col-md-6">
    <h1>List of courses</h1>
  </div>
  <div class="col-md-6 text-end">

    <div class="input-group mb-3">
      <input (keyup.enter)="searchUsers()" [(ngModel)]="search" type="text" class="form-control" placeholder="Search a user" aria-label="Recipient's username" aria-describedby="button-addon2">

    </div>


  </div>
</div>

<div class="row my-5">
  <div class="col-md-4" *ngFor="let user of users">
    <app-card [login]="user.login" [image]="user.avatar_url" [url]="user.html_url"></app-card>
  </div>

</div>
