/* You can add global styles to this file, and also import other style files */

.loading {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@import "~@sweetalert2/theme-dark/dark.min.css"
